/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #333;
    font-weight: 900;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Tabela */
th, td {
    padding: 20px;
    text-align: center;
    overflow: hidden; /* Evita conteúdo transbordando */
    white-space: nowrap; /* Garante que o conteúdo não quebre */
}

.team-cell {
    display: flex; /* Aplica Flexbox para alinhar horizontalmente */
    align-items: center; /* Alinha verticalmente */
    justify-content: flex-start; /* Alinha à esquerda */
    white-space: nowrap; /* Impede quebra de linha */
    gap: 5px; /* Espaço entre o ícone e o texto */
    padding-left: 5px;
    overflow: hidden; /* Garante que nada ultrapasse */
    vertical-align: middle;
}

/* Ícone do time */
.team-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    flex-shrink: 0; /* Evita que o ícone diminua */
    vertical-align: middle;
}

th {
    background-color: #2c3e50;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

td {
    background-color: #eef1f3;
    font-size: 18px;
    color: #0c0c0c;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.192);
}


/* Ícone do time */
.team-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    flex-shrink: 0; /* Evita que o ícone diminua */
}

/* Ícones de desempenho */
i {
    font-size: 19px;
    color: white;
    background-color: #00aa09;
    border-radius: 17px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

i.fas.fa-minus {
    background-color: #3d3d3d;
    color: white;
    border-radius: 17px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

i.bi-x {
    background-color: #fa0c04;
    color: white;
    border-radius: 17px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}


/* Responsividade para telas menores (como celulares) */
@media (max-width: 480px) {
    table {
        font-size: 0.3rem;
    }

    th, td {
        padding: 8px; /* Reduz o padding */
    }

    .team-icon {
        width: 20px;
        height: 20px;
    }

    i {
        font-size: 12px;
    }

    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .team-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        white-space: nowrap;
        overflow: hidden;
    }
}
