/* Resetando o padrão de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #5a5a5a;
    color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-x: hidden; /* Evitar rolagem horizontal indesejada */
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    background-color: #f3f3f3;
    max-width: 1200px;
    border-radius: 12px;
    padding: 27px;
    border-style:double;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Adicionar rolagem horizontal se necessário */
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #000000;
    font-size: 48px;
    font-weight: 600;
    background-color: #068f0de3;
    border-radius: 13px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Poppins" sans-serif;
    line-height: 1.8;
}

/* Estilos da Tabela */
table {
    width: 100%;
    table-layout: auto; /* Permitir que a tabela ajuste a largura automaticamente */
    border-collapse: collapse;
}


th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
}

th {
    background-color: #1e3a8a;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

td img {
    width: 100px; /* Ajustar o tamanho das imagens */
    height: 45px; /* Garantir que a altura não seja cortada */
    object-fit: contain; /* Garantir que a imagem se ajuste sem cortar */
    margin-right: 10px;
    cursor: pointer;
}

tr:hover {
    background-color: #e5e7eb;
}

/* Cores para o status das últimas 5 partidas */
.bi-check {
    color: #ffffff;
    background-color: #108514;
    border-radius: 15px;
}

.bi-x {
    color: #ffffff;
    background-color: #db0c0c;
    border-radius: 15px;
}

.fas.fa-minus {
    color: #f3f3f3;
    background-color: #525252;
    border-radius: 15px;
}

/* Tabela ajustada para celular */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 5px;
    }

    td img {
        width: 25px; /* Ajuste do tamanho das imagens no mobile */
        height: 25px;
    }
}
